<div class="container">
  <h1>Email: <%- message.contact %></h1>

  <h5>To view content click the link below</h5>
  <div>Token:
    <a href="https://winit-app.herokuapp.com/token/<%= token.token =>">
    https://winit-app.herokuapp.com/token/<%- token.token %>
    </a>
  </div>
</div>

<!-- <script type="text/javascript">
  $('#<%= token.token %>').on('click', function(evt) {
    console.log('clickeddddd');
    $.ajax({
     url: '/token/<%= token.token %>',
     method: 'GET'
   }).done(function(message) {
      console.log(message);
    })
  })
</script> -->
